<div class="contact-list-page">
  
  <header class="app-header">
    <div class="tabs">CONTACTS</div>
  </header>

 <div class="contact-list-content">
      <div class="contact-item add-new-contact-item" (click)="onAddNewContact()">
        <div class="avatar add-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        </div>
        <div class="contact-details">
          <div class="contact-name">Yeni kişi ekle</div>
        </div>
      </div>
 
      @for (contact of contacts; track contact.contactID) {
        <div class="contact-entry">
          <div class="contact-item" (click)="toggleActions(contact.contactID)">
            <div class="avatar">
                <span class="initials">{{ getInitials(contact.name) }}</span>
            </div>
            <div class="contact-details">
              <div class="contact-name">{{ contact.name }}</div>
              @if (getPrimaryPhoneNumber(contact.phoneNumbers)) {
                <div class="contact-phone">{{ getPrimaryPhoneNumber(contact.phoneNumbers) }}</div>
              }
            </div>
          </div>

          @if (expandedContactId === contact.contactID) {
            <div class="quick-actions-panel">
              <button class="action-button" (click)="callContact(contact)">
                <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg>
                <span>Call</span>
              </button>
              <button class="action-button" (click)="messageContact(contact)"> 
                <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M320-520q17 0 28.5-11.5T360-560q0-17-11.5-28.5T320-600q-17 0-28.5 11.5T280-560q0 17 11.5 28.5T320-520Zm160 0q17 0 28.5-11.5T520-560q0-17-11.5-28.5T480-600q-17 0-28.5 11.5T440-560q0 17 11.5 28.5T480-520Zm160 0q17 0 28.5-11.5T680-560q0-17-11.5-28.5T640-600q-17 0-28.5 11.5T600-560q0 17 11.5 28.5T640-520ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/>
                </svg>
                <span>Message</span>
              </button>
              <button class="action-button" (click)="viewDetails(contact)">
                <svg class="action-icon"  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                </svg>
                <span>Details</span>
              </button>
              <button class="action-button" (click)="confirmDeleteContact(contact)">
                  <svg class="action-icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                  </svg>
                <span>Sil</span>
              </button>
            </div>
          }
        </div> 
      } @empty {
        <div class="no-contacts">No contacts found.</div>
      }
  </div>
</div>